<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="foo" class="spring.Foo">
        <property name="i" value="1"></property>
    </bean>
    <!--<bean id="test" class="spring.Test"  autowire="constructor">-->

    <bean id="test" class="spring.Test">
        <constructor-arg name="foo" ref="foo"></constructor-arg>
        <constructor-arg name="i" value="1"></constructor-arg>
    </bean>

    <bean id="beanLifeTest" class="beans.BeanLife" init-method="initMethod" destroy-method="destroyMethod">
        <property name="i" value="10">
        </property>

    </bean>

    <context:annotation-config/>
    <context:component-scan base-package="spring" />
    <context:component-scan base-package="beans" />

    <aop:aspectj-autoproxy />
    <context:component-scan base-package="carrot.service" />
    <context:component-scan base-package="aop" />

    <!--<bean id="testAdvisor" class="">-->
</beans>